<div class ='container'>

  <h1>My bookings</h1>


  <% if @bookings != [] %>
  <div class="row justify-content-center">
    <% @bookings.each do |booking| %>
      <div class="col 4">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title"><%= booking.comment %></h5>
            <h6 class="card-subtitle mb-2 text-muted">From <%= booking.start_date %> to <%= booking.end_date %></h6>
            <p class="card-text">Status : <%= booking.status %></p>
            <a href="#" class="card-link">Accept</a>
            <a href="#" class="card-link">Decline</a>
          </div>
        </div>
      </div>
    </div>




    <% end %>
    </div>

  <% else %>

    <div class="card">
      <div class="card-body">
        Oops... You don't have any bookings for now.
      </div>
    </div>
  <% end %>

</div>
