<div class ='container'>

  <h1 class="row justify-content-center padding-6">My Bookings</h1>
  <h2 class="row justify-content-center padding-6">This is where you can see and updates your bookings. Have a look!</h2>


  <% if @bookings != [] %>
    <div class="cards row justify-content-around">
      <% @bookings.each do |booking| %>
          <div class="card col-4" style="width: 350px;">
            <div class="card-body">
              <h5 class="card-title"><%= booking.comment %></h5>
              <h6 class="card-subtitle mb-2 text-muted">From <%= booking.start_date %> to <%= booking.end_date %></h6>
              <p class="card-text">Status : <%= booking.status %></p>
              <a href="#" class="card-link">Accept</a>
              <a href="#" class="card-link">Decline</a>
            </div>
          </div>
      <% end %>
    </div>


  <% else %>

    <div class="card">
      <div class="card-body">
        Oops... You don't have any bookings for now.
      </div>
    </div>
  <% end %>

</div>
