<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://images.unsplash.com/photo-1499115026740-47ec7a0d026e?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1173);">
  <div class="container">
    <h1> <strong>Bike BNB</strong> - Bike rental around you !</h1>
    <p>Change your life and find bike around the world.</p>
  </div>
</div>


<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="container d-flex justify-content-center gap-3">
  <%= link_to "Bike rental", bikes_path, class: "btn btn-gradient btn-lg" %>

  <%= link_to "My bookings", bikes_path, class: "btn btn-flat btn-lg" %>

  <%= link_to "My bikes", my_bikes_path, class: "btn btn-warning btn-lg" %>
</div>
