.banner {
  padding: 180px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;

  h1 {
    color: white;
  }

  p {
    color: white;
  }
}
