.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.card-index {
  overflow: hidden;
  position: relative;
  background: rgb(252, 250, 250);
  box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
  height: 430px;
  padding: 30px 10px 10px 10px;
  margin: 10px;
  border-radius: 8px;

  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 3px;
  }
}


  h6 {
  text-align: center;
  padding: 4px;
  width: auto;
  }

  h5 {
    text-align: center;
  }


.card-info {
  padding: 8px;
  display: flex;
  justify-content: space-between;
  // align-items: flex-end;
  position: relative;
  text-align: justify;
}

.card-align-right {
  text-align: right;
  margin: 0;
}

.card-align-left {
text-align: left;
justify-content: space-between;
align-items: flex-end;
margin: 0;
}

.card-show {
  height: 500px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  margin: 20px;
  position: relative;

  img {
    height: 100%;
    width: 550px;
    object-fit: contain;
    position: relative;
    padding: 0 10px;
    left: 0;
  }

  h2 {
    margin: 0;
    font-weight: bolder;
  }

  .text {
    padding: 30px;
    border-left: 1px solid #768c76;
    justify-content: flex-start;
    margin: 10px 50px 0 50px;
  }

  .links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 16px 24px;
  }

  #title {
    text-align: center;
    padding: 30px;
    width: 95%;
    position: relative;
    margin: 2px 4%;
  }

}

.cards-booking-position {
  display: flex;
  justify-content: center;
}

.cards-booking{
  display: grid;
  grid-template-columns: 1fr;

  .title-cards {
    padding: 15px;
    margin: 10px;
    text-align: center;
  }
}

.cards-loc {
  padding-right: 30px;

}

.cards-owner {
  padding-left: 30px;
  border-left: solid gainsboro;
}

.card-body {
  box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
  margin-bottom: 10px;
  width: 400px;
}

.card-title{
  min-height: 25px;
}

@media (max-width: 930px) {
  .card-body {
    display: flex;
     width: 250px;
  }
 }

 @media (max-width: 768px) {
  .card-body {
    display: flex;
    width: 200px;
  }
  .btn-booking {
    display: flex;
  }
 }

.card-my-bikes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  justify-items: center;
  padding-top: 20px;
}

.card-bikes {
  background-color: $white;
  border-radius: 8px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
  height: 32rem;
  padding: 30px 10px 10px 10px;

  .card-img-top{
    height: 50%;
    width: 100%;
    object-fit: fill;
    position: relative;
    left: 0;
    padding-bottom: 10px;
  }
}

// @media (max-width: 780px) {
//   .card-body {
//     display: flex;
//     width: 200px;
//   }
